main {
  overflow-y: visible;
  width: 70vw;
  margin: 0 auto;
}

/* Background */

.background-container {
  position: fixed;
  top: 65px;
  height: 100vh;
  width: 100%;
  display: none;
  z-index: 2;
}

/* Section Styling Starts */

.main-section {
  margin: 4rem auto;
}

.main-section section {
  padding: 2rem 1rem;
  border-bottom: 1px solid var(--row-color);
}

.main-section section:last-child {
  border-bottom: none;
}

.page-title {
  font-size: 1.8rem;
  padding: 0.5rem 0;
  color: var(--secondary-color);
}

.section-heading {
  font-size: 1.6rem;
  padding: 0.5rem 0;
  color: var(--secondary-color);
}

.section-para {
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--default-color);
}

.colored-text {
  color: var(--secondary-color);
  font-weight: 600;
}

.iframe-wrapper {
  width: 100%;
  height: 50vh;
  background-color: #151718;
}

.iframe-code {
  border: none;
  width: 70%;
  height: 100%;
}

/* Section Styling Ends */

/* Responsive Styling Starts */

@media only screen and (max-width: 1000px) {
  main {
    width: 80vw;
  }

  .iframe-code {
    width: 70%;
  }
}

@media only screen and (max-width: 750px) {
  main {
    width: 90vw;
  }

  .iframe-code {
    width: 90%;
  }

  .open {
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
}
