<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./image.css">
    <title>Image</title>
</head>
<body>
    <h2>Responsive Image</h2>
    <div class="img-responsive-container">
        <img src="../images/image-res.jpg" alt="image-responsive" class="img-responsive">
    </div>
    <h2>Cirle Image</h2>
    <div class="img-circle-container">
        <img src="../images/avatar-1.jpg" alt="image-round" class="img-responsive img-circle">
    </div>
</body>
</html>