<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://kit.fontawesome.com/829cb68a23.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="../../assets/favicon-32x32.png" />
    <link rel="stylesheet" href="./image.css">
    <title>Image</title>
</head>

<body>

    <div class="background-container">
    </div>

    <nav class="header">
        <a href="../../index.html" class="title">
            <h2>CheckMate UI</h2>
        </a>
        <button class="menu-open"><i class="fas fa-bars"></i></button>
    </nav>

    <main>

        <aside>
            <ul class="menu-items">
                <li class="link"><a href="../get-started.html">Getting Started</a></li>
                <li class="link"><a href="../Avatar/avatar.html">Avatar</a></li>
                <li class="link"><a href="../Badge/badge.html">Badge</a></li>
                <li class="link"><a href="../Alert/alert.html">Alert</a></li>
                <li class="link"><a href="../Button/button.html">Button</a></li>
                <li class="link"><a href="../Card/card.html">Card</a></li>
                <li class="link"><a href="../Image/image.html">Image</a></li>
                <li class="link"><a href="../Input/input.html">Input</a></li>
                <li class="link"><a href="../List/list.html">List</a></li>
                <li class="link"><a href="../Navbar/navbar.html">Navbar</a></li>
                <li class="link"><a href="../Typography/typography.html">Typography</a></li>
                <li class="link"><a href="../Form/form.html">Form</a></li>
                <li class="link"><a href="../Slider/slider.html">Slider</a></li>
            </ul>
        </aside>

        <section class="main-section">

            <section>
                <h2 class="page-title">Image</h2>
                <p class="section-para">
                    An image is graphical representation of something to make a website much more appealing. Images are generally responsive which expands with the width of the container they are in.
                </p>
            </section>
    
            <section>
                <h2 class="section-heading">Responsive Image</h2>
                <p class="section-para">
                    Make any image responsive by adding 
                    <span class="colored-text">img-responsive</span>
                    class to it and fit it inside container of any width and it will expand by its container's width.
                </p>
                <div class="img-responsive-container img-container">
                    <img src="../../assets/image-res.jpg" alt="image-responsive" class="img-responsive">
                </div>
                <div class="iframe-wrapper iframe-sm">
                    <iframe class="iframe-code"
                            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522..%252Fimages%252Fimage-res.jpg%2522%2520alt%253D%2522image-responsive%2522%2520class%253D%2522img-responsive%2522%253E"
                            sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </section>
    
            <section>
                <h2 class="section-heading">Circle Image</h2>
                <p class="section-para">
                    Circle images are complete rounded images as well as responsive, you can use them by adding 
                    <span class="colored-text">img-responsive</span> and 
                    <span class="colored-text">img-circle</span>
                    class to that img tag.
                </p>
                <div class="img-circle-container img-container">
                    <img src="../../assets/avatar-1.jpg" alt="image-round" class="img-responsive img-circle">
                </div>
                <div class="iframe-wrapper iframe-sm">
                    <iframe class="iframe-code"
                            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522..%252Fimages%252Favatar-1.jpg%2522%2520alt%253D%2522image-round%2522%2520class%253D%2522img-responsive%2520img-circle%2522%253E"
                            sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </section>

        </section>

    </main>

    <footer class="footer">

        <div class="footer-container">
            <p class="footer-title">Made by Atul Pant</p>
            <div class="social-media">
                <a href="https://github.com/AtulPant2704" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://linkedin.com/in/atulpant27" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://twitter.com/AtulPant2704" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
            <p class="footer-end">© 2022 CheckMate Designs</p>
        </div>

    </footer>

    <script src="../../js/header.js"></script>
</body>

</html>