<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../highlight/styles/atom-one-dark-reasonable.min.css">
    <script defer src="https://kit.fontawesome.com/829cb68a23.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="../../assets/favicon-32x32.webp" />
    <link rel="stylesheet" href="../../css/documentation.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/utility.css">
    <link rel="stylesheet" href="./typography.css">
    <title>Typography</title>
</head>

<body>

    <div class="background-container">
    </div>

    <nav class="header">
        <a href="../../index.html" class="title">
            <h2>CheckMate UI</h2>
        </a>
        <button class="menu-open"><i class="fas fa-bars"></i></button>
    </nav>

    <main>

        <aside>
            <ul class="menu-items">
                <li class="link"><a href="../get-started.html">Getting Started</a></li>
                <li class="link"><a href="../Avatar/avatar.html">Avatar</a></li>
                <li class="link"><a href="../Badge/badge.html">Badge</a></li>
                <li class="link"><a href="../Alert/alert.html">Alert</a></li>
                <li class="link"><a href="../Button/button.html">Button</a></li>
                <li class="link"><a href="../Card/card.html">Card</a></li>
                <li class="link"><a href="../Image/image.html">Image</a></li>
                <li class="link"><a href="../Input/input.html">Input</a></li>
                <li class="link"><a href="../List/list.html">List</a></li>
                <li class="link"><a href="../Navbar/navbar.html">Navbar</a></li>
                <li class="link"><a href="../Typography/typography.html">Typography</a></li>
                <li class="link"><a href="../Form/form.html">Form</a></li>
                <li class="link"><a href="../Slider/slider.html">Slider</a></li>
                <li class="link"><a href="../Modal/modal.html">Modal</a></li>
                <li class="link"><a href="../Grid/grid.html">Grid</a></li>
                <li class="link"><a href="../Rating/rating.html">Rating</a></li>
                <li class="link"><a href="../Toast/toast.html">Toast</a></li>
                <li class="link"><a href="../Hamburger/hamburger.html">Hamburger</a></li>
            </ul>
        </aside>

        <section class="main-section">

            <section>
                <h2 class="page-title">Typography</h2>
                <p class="section-para">
                    Documentation and text utilities which CheckMate follows that you can use in your project.
                </p>
            </section>

            <section>
                <h2 class="section-heading">Heading</h2>
                <p class="section-para">
                    You can use heading from
                    <span class="colored-text">h1</span> to
                    <span class="colored-text">h6</span>
                    for different headings.
                </p>
                <div class="container">
                    <h1 class="h1">Heading 1</h1>
                    <h2 class="h2">Heading 2</h2>
                    <h3 class="h3">Heading 3</h3>
                    <h4 class="h4">Heading 4</h4>
                    <h5 class="h5">Heading 5</h5>
                    <h6 class="h6">Heading 6</h6>
                </div>
                <div class="code-wrapper">
                    <pre class="code-embed">
                        <code class="code tag">
                            &lt;h1&gt;Heading 1&lt;/h1&gt;
                            &lt;h2&gt;Heading 2&lt;/h2&gt;
                            &lt;h3&gt;Heading 3&lt;/h3&gt;
                            &lt;h4&gt;Heading 4&lt;/h4&gt;
                            &lt;h5&gt;Heading 5&lt;/h5&gt;
                            &lt;h6&gt;Heading 6&lt;/h6&gt;
                        </code>
                    </pre>
                </div>
            </section>

            <section>
                <h2 class="section-heading">Paragraph</h2>
                <p class="section-para">
                    You can use different paragraph fonts for different font sizes like
                    <span class="colored-text">.body-cp-rg</span> for regular font,
                    <span class="colored-text">.body-cp-lg</span> for large font,
                    <span class="colored-text">.body-cp-md</span> for medium font and
                    <span class="colored-text">.body-cp-sm</span> for small font.
                </p>
                <div class="container">
                    <p class="p body-cp-lg">Pragraph body-copy-large</p>
                    <p class="p body-cp-rg">Paragraph body-copy-regular</p>
                    <p class="p body-cp-md">Paragraph body-copy-medium</p>
                    <p class="p body-cp-sm">Paragraph body-copy-small</p>
                </div>
                <div class="code-wrapper">
                    <pre class="code-embed">
                        <code class="code tag">
                        &lt;p class=&quot;p body-cp-lg&quot;&gt;Pragraph body-copy-large&lt;/p&gt;
                        &lt;p class=&quot;p body-cp-rg&quot;&gt;Paragraph body-copy-regular&lt;/p&gt;
                        &lt;p class=&quot;p body-cp-md&quot;&gt;Paragraph body-copy-medium&lt;/p&gt;
                        &lt;p class=&quot;p body-cp-sm&quot;&gt;Paragraph body-copy-small&lt;/p&gt;
                        </code>
                    </pre>
                </div>
            </section>

            <section>
                <h2 class="section-heading">Alignment</h2>
                <p class="section-para">
                    You can use
                    <span class="colored-text">.align-left</span>,
                    <span class="colored-text">.align-center</span> and
                    <span class="colored-text">.align-right</span>
                    classes for aligning content to the left, center and right.
                </p>
                <div class="container">
                    <h3 class="align-left">Align Left</h3>
                    <h3 class="align-center">Align Center</h3>
                    <h3 class="align-right">Align Right</h3>
                </div>
                <div class="code-wrapper">
                    <pre class="code-embed">
                        <code class="code tag">
                            &lt;h3 class=&quot;align-left&quot;&gt;Align Left&lt;/h3&gt;
                            &lt;h3 class=&quot;align-center&quot;&gt;Align Center&lt;/h3&gt;
                            &lt;h3 class=&quot;align-right&quot;&gt;Align Right&lt;/h3&gt;
                        </code>
                    </pre>
                </div>
            </section>

            <section>
                <h2 class="section-heading">Extra Styles</h2>
                <p class="section-para">
                    <ul class="extra-styles">
                        <li>To make a text gray, use
                            <span class="colored-text">.gray-text</span>
                            class.
                        </li>
                        <li>To add strike-through on text, use
                            <span class="colored-text">.text-strike</span>
                            class.
                        </li>
                        <li>To underline a text, use
                            <span class="colored-text">.text-underline</span>
                            class.
                        </li>
                    </ul>
                </p>
                <div class="container">
                    <p class="gray-text">This is a gray text.</p>
                    <p class="text-strike">This text has a line going through it.</p>
                    <p class="text-underline">This text is underlined.</p>
                </div>
                <div class="code-wrapper">
                    <pre class="code-embed">
                        <code class="code tag">
                        &lt;p class=&quot;gray-text&quot;&gt;This is a gray text.&lt;/p&gt;
                        &lt;p class=&quot;text-strike&quot;&gt;This text has a line going through it.&lt;/p&gt;
                        &lt;p class=&quot;text-underline&quot;&gt;This text is underlined.&lt;/p&gt;
                        </code>
                    </pre>
                </div>
            </section>

        </section>

    </main>

    <footer class="footer">

        <div class="footer-container">
            <p class="footer-title">Made by Atul Pant</p>
            <div class="social-media">
                <a href="https://github.com/AtulPant2704" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://linkedin.com/in/atulpant27" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://twitter.com/AtulPant2704" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
            <p class="footer-end">© 2022 CheckMate Designs</p>
        </div>

    </footer>

    <script src="../../highlight/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="../../js/header.js"></script>
</body>

</html>
