.container {
  margin: 1.5rem 0;
  padding: 0 1rem;
  border: 2px solid var(--border-light-color);
  border-radius: 5px;
}

/* Header Styling Starts */

.h1 {
  font-size: 3rem;
}

.h2 {
  font-size: 2.5rem;
}

.h3 {
  font-size: 2rem;
}

.h4 {
  font-size: 1.75rem;
}

.h5 {
  font-size: 1.5rem;
}

.h6 {
  font-size: 1.25rem;
}

/* Header Styling Ends */

/* Paragraph Styling Starts */

.p .body-cp-rg {
  font-size: 1rem;
}

.body-cp-lg {
  font-size: 1.5rem;
}

.body-cp-md {
  font-size: 1.2rem;
}

.body-cp-sm {
  font-size: 0.8rem;
}

/* Paragraph Styling Ends */

/* Alignment Styling Starts */

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

/* Alignment Styling Ends */

/* Extra Typography Styling Starts */

.extra-styles {
  margin: 0 1rem;
}

.gray-text {
  color: gray;
}

.text-strike {
  text-decoration: line-through;
}

.text-underline {
  text-decoration: underline;
}

/* Extra Typography Styling Ends */
