<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./card.css">
    <title>Card</title>
</head>
<body>
    <h2>Card with Badge</h2>
    <div class="card">
        <div class="card-header">
            <img class="card-img" src="../images/chess-piece.jpg" alt="chess-pieces">
            <span class="card-badge">New</span>
        </div>
        <div class="card-body">
            <h5 class="card-title">Brittinica Premium Chess Set</h5>
            <p class="card-subtitle">Premium Chess Set</p>
            <div class="card-price">₹ 1,995</div>
            <button class="card-button">ADD TO CART</button>
        </div>
    </div>
    <h2>Card with Dismiss</h2>
    <div class="card">
        <div class="card-header">
            <img class="card-img" src="../images/chess-piece.jpg" alt="chess-pieces">
            <span class="card-dismiss">X</span>
        </div>
        <div class="card-body">
            <h5 class="card-title">Brittinica Premium Chess Set</h5>
            <p class="card-subtitle">Premium Chess Set</p>
            <div class="card-price">₹ 1,995</div>
            <button class="card-button">ADD TO CART</button>
        </div>
    </div>
    <h2>Card with Text Overlay</h2>
    <div class="card">
        <div class="card-header card-text-overlay">
            <img class="card-img grid-position" src="../images/chess-piece.jpg" alt="chess-pieces">
            <div class="card-text grid-position">
                <h5 class="card-title">Brittinica Premium Chess Set</h5>
                <p class="card-subtitle">Premium Chess Set</p>
            </div>
        </div>
        <div class="card-body">
            <div class="card-price">₹ 1,995</div>
            <button class="card-button">ADD TO CART</button>
        </div>
    </div>
    <h2>Card with Shadow</h2>
    <div class="card card-shadow">
        <div class="card-header">
            <img class="card-img" src="../images/chess-piece.jpg" alt="chess-pieces">
            <span class="card-dismiss">X</span>
        </div>
        <div class="card-body">
            <h5 class="card-title">Brittinica Premium Chess Set</h5>
            <p class="card-subtitle">Premium Chess Set</p>
            <div class="card-price">₹ 1,995</div>
            <button class="card-button">ADD TO CART</button>
        </div>
    </div>
    <h2>Text Only Card</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Brittinica Premium Chess Set</h5>
            <p class="card-subtitle">Premium Chess Set</p>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio, dignissimos?</p>
            <div class="card-price">₹ 1,995</div>
            <button class="card-button">ADD TO CART</button>
        </div>
    </div>
    <h2>Horizontal Card</h2>
    <div class="card card-horizontal">
        <div class="card-header">
            <img class="card-img" src="../images/chess-piece.jpg" alt="chess-pieces">
        </div>
        <div class="card-body">
            <h5 class="card-title">Brittinica Premium Chess Set</h5>
            <p class="card-subtitle">Premium Chess Set</p>
            <div class="card-price">₹ 1,995</div>
            <button class="card-button">ADD TO CART</button>
        </div>
    </div>
</body>
</html>