@import url("../get-started.css");
@import url("../Image/image.css");

/* Default Card Styling Starts */

.card {
  width: 35%;
  height: 20%;
  padding: 1rem;
  background-color: rgb(231, 224, 224);
  border-radius: 0.5rem;
  margin: 2rem 0;
}

.card-header {
  position: relative;
}

.card-img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.card-title {
  font-size: 1.2rem;
  margin: 5px 0rem;
}

.card-subtitle {
  font-size: 1.2rem;
  margin: 5px 0rem;
}

.card-price {
  font-size: 1.2rem;
  margin: 5px 0rem;
}

.card-button {
  font-size: 1rem;
  margin: 5px 0rem;
  padding: 0.5rem 1rem;
  color: white;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.card-button:hover {
  background-color: var(--primary-hover-color);
}

/* Default Card Styling Ends */

/* Badge Card Styling Starts */
.card-badge {
  display: inline-block;
  color: black;
  position: absolute;
  top: 0%;
  left: 0%;
  color: white;
  background-color: var(--primary-color);
  padding: 2px 5px;
  border-top-left-radius: 0.5rem;
}

/* Badge Card Styling Ends */

/* Dismiss Card Styling Starts */
.card-dismiss {
  display: inline-block;
  border: none;
  cursor: pointer;
  color: black;
  position: absolute;
  top: 0%;
  right: 0%;
  color: white;
  background-color: var(--primary-color);
  padding: 7px;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

/* Dismiss Card Styling Ends */

/* Card With Text Overlay Starts */
.card-text-overlay {
  display: grid;
}

.grid-position {
  grid-column: 1/2;
  grid-row: 1/2;
}

.card-text-overlay .card-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 0.5rem;
  color: white;
  -webkit-text-stroke: 1.2px black;
}

/* Card With Text Overlay Ends */

/* Card With Shadow Styling Starts */
.card-shadow {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2),
    0px 20px 20px rgba(0, 0, 0, 0.15);
}

/* Card With Shadow Styling Ends */

/* Horizontal Card Styling Starts */
.card-horizontal {
  width: 45%;
  display: flex;
  gap: 1rem;
}

.card-horizontal .card-header {
  flex: 1 1 10rem;
}

.card-horizontal .card-body {
  flex: 2 1 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-horizontal .card-header {
  width: 80%;
}

/* Horizontal Card Styling Ends */

/* Ecommerce Product Card Styling Starts */

.ecommerce-btn {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 5px;
}

.ecommerce-btn:hover {
  background-color: var(--secondary-hover-color);
}

.product-card {
  width: 15rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.product-card .img-container {
  width: 100%;
  position: relative;
}

.product-card .img-container .img-responsive {
  width: 100%;
  height: 10rem;
  object-fit: contain;
}

.product-card .img-container i {
  position: absolute;
  top: 0%;
  right: 0%;
  font-size: 1.2rem;
}

.product-card .img-container .card-badge {
  border-radius: 0;
  font-size: 0.8rem;
  background-color: var(--default-color);
}

.product-card .card-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product-card .card-title {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 550;
}

/* Ecommerce Product Card Styling Ends */

/* Ecommerce Cart Card Styling Starts */

.cart-card {
  width: 30rem;
  display: flex;
}

.cart-card .img-container {
  flex: 1 1 8rem;
}

.cart-card .card-details {
  margin: auto 1rem;
  flex: 2 1 8rem;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 40%;
  border: 1px solid var(--secondary-color);
  padding: 0.3rem 1rem;
  font-size: 1.2rem;
}

.quantity-controls .btn-control {
  background-color: white;
  border: none;
  color: var(--secondary-color);
}

.cart-card .wishlist-btn {
  margin-top: 1rem;
  width: 50%;
  padding: 0.5rem;
}

/* Ecommerce Cart Card Styling Ends */

/* Ecommerce Bill Card Styling Starts */

.bill-card {
  width: 20rem;
  margin: 2rem 0;
}

.bill-card .card-title {
  border-bottom: 1px solid var(--row-color);
}

.bill-card .items-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0;
}

.bill-card .total-price-container {
  font-size: 1.1rem;
  font-weight: 600;
  border-top: 1px solid var(--row-color);
  /* border-bottom: 1px solid var(--row-color); */
}

.order-btn {
  padding: 0.8rem 1rem;
  font-size: 1rem;
}

/* Ecommerce Bill Card Styling Ends */

/* Iframe Styling Starts */

.iframe-md {
  height: 50vh;
}

.iframe-sm {
  height: 45vh;
}

.iframe-x-lg {
  height: 75vh;
}

/* Iframe Styling Ends */

/* Responsiveness Styling Starts */
@media only screen and (max-width: 1100px) {
  .card {
    width: 50%;
  }
}

@media only screen and (max-width: 850px) {
  .card {
    width: 60%;
  }

  .card-horizontal {
    width: 90%;
  }
}

@media only screen and (max-width: 550px) {
  .card {
    width: 80%;
  }

  .card-horizontal {
    width: 100%;
  }

  .product-card {
    width: 10rem;
  }

  .cart-card {
    width: 100%;
  }

  .cart-card .img-container {
    flex: 1 1 5rem;
  }

  .cart-card .card-details {
    flex: 1 1 5rem;
  }

  .quantity-controls {
    width: 70%;
  }

  .cart-card .wishlist-btn {
    width: 90%;
  }
}

/* Responsiveness Styling Ends */
