@import url("../get-started.css");

/* Default Card Styling Starts */

.card {
  width: 35%;
  height: 20%;
  padding: 1rem;
  background-color: rgb(231, 224, 224);
  border-radius: 0.5rem;
  margin: 2rem 0;
}

.card-header {
  position: relative;
}

.card-img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.card-title {
  font-size: 1.2rem;
  margin: 5px 0rem;
}

.card-subtitle {
  font-size: 1.2rem;
  margin: 5px 0rem;
}

.card-price {
  font-size: 1.2rem;
  margin: 5px 0rem;
}

.card-button {
  font-size: 1rem;
  margin: 5px 0rem;
  padding: 0.5rem 1rem;
  color: white;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.card-button:hover {
  background-color: var(--primary-hover-color);
}

/* Default Card Styling Ends */

/* Badge Card Styling Starts */
.card-badge {
  display: inline-block;
  color: black;
  position: absolute;
  top: 0%;
  left: 0%;
  color: white;
  background-color: var(--primary-color);
  padding: 2px 5px;
  border-top-left-radius: 0.5rem;
}

/* Badge Card Styling Ends */

/* Dismiss Card Styling Starts */
.card-dismiss {
  display: inline-block;
  border: none;
  cursor: pointer;
  color: black;
  position: absolute;
  top: 0%;
  right: 0%;
  color: white;
  background-color: var(--primary-color);
  padding: 7px;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

/* Dismiss Card Styling Ends */

/* Card With Text Overlay Starts */
.card-text-overlay {
  display: grid;
}

.grid-position {
  grid-column: 1/2;
  grid-row: 1/2;
}

.card-text-overlay .card-text {
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 0.5rem;
}

/* Card With Text Overlay Ends */

/* Card With Shadow Styling Starts */
.card-shadow {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2),
    0px 20px 20px rgba(0, 0, 0, 0.15);
}

/* Card With Shadow Styling Ends */

/* Horizontal Card Styling Starts */
.card-horizontal {
  width: 45%;
  display: flex;
  gap: 1rem;
}

.card-horizontal .card-header {
  flex: 1 1 10rem;
}

.card-horizontal .card-body {
  flex: 2 1 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-horizontal .card-header {
  width: 80%;
}

/* Horizontal Card Styling Ends */

/* Iframe Styling Starts */

.iframe-md {
  height: 50vh;
}

.iframe-sm {
  height: 45vh;
}

/* Iframe Styling Ends */

/* Responsiveness Styling Starts */
@media only screen and (max-width: 1100px) {
  .card {
    width: 50%;
  }
}

@media only screen and (max-width: 850px) {
  .card {
    width: 60%;
  }

  .card-horizontal {
    width: 90%;
  }
}

@media only screen and (max-width: 550px) {
  .card {
    width: 80%;
  }

  .card-horizontal {
    width: 100%;
  }
}

/* Responsiveness Styling Ends */
