<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../highlight/styles/atom-one-dark-reasonable.min.css">
    <script defer src="https://kit.fontawesome.com/829cb68a23.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="../../assets/favicon-32x32.webp" />
    <link rel="stylesheet" href="./input.css">
    <title>Input</title>
</head>

<body>

    <div class="background-container">
    </div>

    <nav class="header">
        <a href="../../index.html" class="title">
            <h2>CheckMate UI</h2>
        </a>
        <button class="menu-open"><i class="fas fa-bars"></i></button>
    </nav>

    <main>

        <aside>
            <ul class="menu-items">
                <li class="link"><a href="../get-started.html">Getting Started</a></li>
                <li class="link"><a href="../Avatar/avatar.html">Avatar</a></li>
                <li class="link"><a href="../Badge/badge.html">Badge</a></li>
                <li class="link"><a href="../Alert/alert.html">Alert</a></li>
                <li class="link"><a href="../Button/button.html">Button</a></li>
                <li class="link"><a href="../Card/card.html">Card</a></li>
                <li class="link"><a href="../Image/image.html">Image</a></li>
                <li class="link"><a href="../Input/input.html">Input</a></li>
                <li class="link"><a href="../List/list.html">List</a></li>
                <li class="link"><a href="../Navbar/navbar.html">Navbar</a></li>
                <li class="link"><a href="../Typography/typography.html">Typography</a></li>
                <li class="link"><a href="../Form/form.html">Form</a></li>
                <li class="link"><a href="../Slider/slider.html">Slider</a></li>
                <li class="link"><a href="../Modal/modal.html">Modal</a></li>
                <li class="link"><a href="../Grid/grid.html">Grid</a></li>
                <li class="link"><a href="../Rating/rating.html">Rating</a></li>
                <li class="link"><a href="../Toast/toast.html">Toast</a></li>
                <li class="link"><a href="../Hamburger/hamburger.html">Hamburger</a></li>
            </ul>
        </aside>

        <section class="main-section">

            <section>
                <h2 class="page-title">Input</h2>
                <p class="section-para">
                    Inputs are used in a form, in a website to ask some piece of information from a user and then save it in the server for later use.
                </p>
            </section>
    
            <section>
                <h2 class="section-heading">Text Input</h2>
                <p class="section-para">
                    Text Input with a label present at the top to tell what information is needed from the user.
                </p>
                <div class="input-container">
                    <div class="input-group">
                        <label>Username *</label>
                        <input type="text">
                    </div>
                </div>
                <div class="code-wrapper">
                    <pre class="code-embed">
                        <code class="code tag">
&lt;div class=&quot;input-group&quot;&gt;
    &lt;label&gt;Username *&lt;/label&gt;
    &lt;input type=&quot;text&quot;&gt;
&lt;/div&gt;
                        </code>
                    </pre>
                </div>
            </section>
    
            <section>
                <h2 class="section-heading">Text Validation Input</h2>
                <p class="section-para">
                    Validation Input with 
                    <span class="colored-text">input-error</span> and 
                    <span class="colored-text">input-success</span> 
                    class to add colors and text msg for validation.
                </p>
                <div class="input-container">
                    <div class="input-group input-error">
                        <label>Password *</label>
                        <input type="text" required>
                        <div class="msg msg-error">Wrong Password. Try Again</div>
                    </div>
                    <div class="input-group input-success">
                        <label>Password *</label>
                        <input type="text" required>
                        <div class="msg msg-success">Right Password.</div>
                    </div>
                </div>
                <div class="code-wrapper">
                    <pre class="code-embed">
                        <code class="code tag">
&lt;div class=&quot;input-group input-error&quot;&gt;
    &lt;label&gt;Password *&lt;/label&gt;
    &lt;input type=&quot;text&quot; required&gt;
    &lt;div class=&quot;msg msg-error&quot;&gt;Wrong Password. Try Again&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;input-group input-success&quot;&gt;
    &lt;label&gt;Password *&lt;/label&gt;
    &lt;input type=&quot;text&quot; required&gt;
    &lt;div class=&quot;msg msg-success&quot;&gt;Right Password.&lt;/div&gt;
&lt;/div&gt;
                        </code>
                    </pre>
                </div>
            </section>

        </section>

    </main>

    <footer class="footer">

        <div class="footer-container">
            <p class="footer-title">Made by Atul Pant</p>
            <div class="social-media">
                <a href="https://github.com/AtulPant2704" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://linkedin.com/in/atulpant27" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://twitter.com/AtulPant2704" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
            <p class="footer-end">© 2022 CheckMate Designs</p>
        </div>

    </footer>

    <script src="../../highlight/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="../../js/header.js"></script>
</body>

</html>