<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/829cb68a23.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./input.css">
    <title>Input</title>
</head>
<body>
    <div class="inputs-container">
        <div class="input-group">
            <label>Username *</label>
            <input type="text">
        </div>
        <div class="input-group input-wrong">
            <label>Password *</label>
            <input type="text" required>
            <div class="msg msg-error">Wrong Password. Try Again</div>
        </div>
        <div class="input-group input-right">
            <label>Password *</label>
            <input type="text" required>
            <div class="msg msg-right">Right Password.</div>
        </div>
    </div>
</body>
</html>