@import url("../get-started.css");

.input-container {
  width: 100%;
  margin: 2rem 0;
  background-color: #f5f7f9;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.input-group {
  width: 80%;
  margin: auto;
  margin-bottom: 1.5rem;
  padding: 0.5rem 0rem;
}

.input-group label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  outline: none;
}

.input-error {
  color: var(--danger-color);
}

.input-error input {
  border: 1px solid var(--danger-color);
  outline: none;
}

.input-success {
  color: var(--success-color);
}

.input-success input {
  border: 1px solid var(--success-color);
  outline: none;
}

.msg {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
