<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/829cb68a23.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./button.css">
    <title>Button</title>
</head>
<body>
    <h2>Primary Button</h2>
    <div class="primary-btns">
        <button class="btn btn-solid-primary">Solid</button>
        <button class="btn btn-outline-primary">Outline</button>
        <button class="btn btn-text-primary">Text</button>
    </div>
    <h2>Link Button</h2>
    <button class="btn btn-link"><a href="#">Link</a></button>
    <h2>Icon Button</h2>
    <div class="icon-btns">
        <button class="btn btn-text-icon"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
        <button class="btn btn-text-icon"><i class="fas fa-paper-plane"></i> Send</button>
        <button class="btn btn-text-icon"><i class="fas fa-trash-alt"></i> Delete</button>
        <button class="btn btn-text-icon"><i class="fas fa-save"></i>Save</button>
    </div>
    <h2>Floating Button</h2>
    <div class="floating-btns">
        <button class="btn btn-float"><i class="fas fa-plus"></i></button>
        <button class="btn btn-float"><i class="fas fa-arrow-up"></i></button>
        <button class="btn btn-float"><i class="fas fa-trash-alt"></i></button>
    </div>
</body>
</html>