<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/829cb68a23.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="./images/favicon-32x32.png" />
    <link rel="stylesheet" href="./avatar.css">
    <title>Avatar</title>
</head>

<body>

    <main>

        <nav class="header">
            <a href="../../index.html" class="title">
                <h2>CheckMate UI</h2>
            </a>
            <button class="menu-bar"><i class="fas fa-bars"></i></button>
        </nav>

        <section>
            <h2 class="page-title">Avatar</h2>
            <p class="section-para">Avatar can be a user profile picture which can be used in social media or any other platform in form of a container to provide a visual identity to something.</p>
        </section>
        
        <section>
            <h2 class="section-heading">Usage</h2>
            <p class="section-para">Avatar in its simplest form inside a circular container containing a user profile picture.</p>
            <div class="avatar">
                <img src="../images/avatar-1.jpg" alt="avatar-image" class="round-img">
            </div>
            <div class="code-snippet">
                <iframe src="https://www.thiscodeworks.com/embed/61fa7802b783be0015bbae9f" style="width: 100%; height: 125px;" frameborder="0"></iframe>
            </div>
        </section>

        <section>
            <h2 class="section-heading">Sizes</h2>
            <p class="section-para">Add different sizes to an Avatar by adding  <span class="colored-text">avatar.lg</span>, <span class="colored-text">avatar.md</span> or <span class="colored-text">avatar.sm </span> classes.</p>
            <div class="avatar-container">
                <div class="avatar avatar-lg">
                    <img src="../images/avatar-1.jpg" alt="avatar-image" class="round-img">
                </div>
                <div class="avatar avatar-md">
                    <img src="../images/avatar-2.jpg" alt="avatar-image" class="round-img">
                </div>
                <div class="avatar avatar-sm">
                    <img src="../images/avatar-3.jpg" alt="avatar-image" class="round-img">
                </div>
            </div>
            <div class="code-snippet">
                <iframe src="https://www.thiscodeworks.com/embed/61fa786cb783be0015bbaea0" style="width: 100%; height: 203px;" frameborder="0"></iframe>
            </div>
        </section>

    </main>

</body>

</html>