<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../highlight/styles/atom-one-dark-reasonable.min.css">
    <script defer src="https://kit.fontawesome.com/829cb68a23.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="../../assets/favicon-32x32.webp" />
    <link rel="stylesheet" href="../../css/documentation.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/utility.css">
    <link rel="stylesheet" href="./avatar.css">
    <title>Avatar</title>
</head>

<body>

    <div class="background-container">
    </div>

    <nav class="header">
        <a href="../../index.html" class="title">
            <h2>CheckMate UI</h2>
        </a>
        <button class="menu-open"><i class="fas fa-bars"></i></button>
    </nav>

    <main>

        <aside>
            <ul class="menu-items">
                <li class="link"><a href="../get-started.html">Getting Started</a></li>
                <li class="link"><a href="../Avatar/avatar.html">Avatar</a></li>
                <li class="link"><a href="../Badge/badge.html">Badge</a></li>
                <li class="link"><a href="../Alert/alert.html">Alert</a></li>
                <li class="link"><a href="../Button/button.html">Button</a></li>
                <li class="link"><a href="../Card/card.html">Card</a></li>
                <li class="link"><a href="../Image/image.html">Image</a></li>
                <li class="link"><a href="../Input/input.html">Input</a></li>
                <li class="link"><a href="../List/list.html">List</a></li>
                <li class="link"><a href="../Navbar/navbar.html">Navbar</a></li>
                <li class="link"><a href="../Typography/typography.html">Typography</a></li>
                <li class="link"><a href="../Form/form.html">Form</a></li>
                <li class="link"><a href="../Slider/slider.html">Slider</a></li>
                <li class="link"><a href="../Modal/modal.html">Modal</a></li>
                <li class="link"><a href="../Grid/grid.html">Grid</a></li>
                <li class="link"><a href="../Rating/rating.html">Rating</a></li>
                <li class="link"><a href="../Toast/toast.html">Toast</a></li>
                <li class="link"><a href="../Hamburger/hamburger.html">Hamburger</a></li>
            </ul>
        </aside>

        <section class="main-section">

            <section>
                <h2 class="page-title">Avatar</h2>
                <p class="section-para">Avatar can be a user profile picture which can be used in social media or any
                    other platform in form of a container to provide a visual identity to something.
                </p>
            </section>

            <section>
                <h2 class="section-heading">Usage</h2>
                <p class="section-para">Avatar in its simplest form inside a circular container containing a user
                    profile picture.
                </p>
                <div class="avatar">
                    <img src="../../assets/avatar-1.webp" alt="avatar-image" class="round-img">
                </div>
                <div class="code-wrapper">
                    <pre class="code-embed">
                        <code class="code tag">
&lt;div class=&quot;avatar&quot;&gt;
    &lt;img src=&quot;../images/avatar-1.jpg&quot; alt=&quot;avatar-image&quot; class=&quot;round-img&quot;&gt;
&lt;/div&gt;
                        </code>
                    </pre>
                </div>
            </section>

            <section>
                <h2 class="section-heading">Sizes</h2>
                <p class="section-para">Add different sizes to an Avatar by adding
                    <span class="colored-text">avatar.lg</span>,
                    <span class="colored-text">avatar.md</span> or
                    <span class="colored-text">avatar.sm </span> classes.
                </p>
                <div class="avatar-container">
                    <div class="avatar avatar-lg">
                        <img src="../../assets/avatar-1.webp" alt="avatar-image-1" class="round-img">
                    </div>
                    <div class="avatar avatar-md">
                        <img src="../../assets/avatar-2.webp" alt="avatar-image-2" class="round-img">
                    </div>
                    <div class="avatar avatar-sm">
                        <img src="../../assets/avatar-3.webp" alt="avatar-image-3" class="round-img">
                    </div>
                </div>
                <div class="code-wrapper">
                    <pre class="code-embed">
                        <code class="code tag">
&lt;div class=&quot;avatar avatar-lg&quot;&gt;
    &lt;img src=&quot;../images/avatar-1.jpg&quot; alt=&quot;avatar-image&quot; class=&quot;round-img&quot;&gt;
&lt;/div&gt;
&lt;div class=&quot;avatar avatar-md&quot;&gt;
    &lt;img src=&quot;../images/avatar-2.jpg&quot; alt=&quot;avatar-image&quot; class=&quot;round-img&quot;&gt;
&lt;/div&gt;
&lt;div class=&quot;avatar avatar-sm&quot;&gt;
    &lt;img src=&quot;../images/avatar-3.jpg&quot; alt=&quot;avatar-image&quot; class=&quot;round-img&quot;&gt;
&lt;/div&gt;
                        </code>
                    </pre>
                </div>
            </section>

        </section>

    </main>

    <footer class="footer">

        <div class="footer-container">
            <p class="footer-title">Made by Atul Pant</p>
            <div class="social-media">
                <a href="https://github.com/AtulPant2704" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://linkedin.com/in/atulpant27" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://twitter.com/AtulPant2704" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
            <p class="footer-end">© 2022 CheckMate Designs</p>
        </div>

    </footer>

    <script src="../../highlight/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="../../js/header.js"></script>
</body>

</html>
