<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://kit.fontawesome.com/829cb68a23.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="../../assets/favicon-32x32.webp" />
    <link rel="stylesheet" href="./navbar.css">
    <title>Navbar</title>
</head>

<body>

    <div class="nav-container">
        <div class="nav-header">
            <div class="title">
                <i class="fas fa-bars menu-bar"></i>
                <h2 class="nav-title">My Website</h2>
            </div>
            <div class="search">
                <span class="btn-search"><i class="fas fa-search"></i></span>
                <input type="text" placeholder="Type to Search" class="input-search">
            </div>
            <div class="user-controls">
                <button class="btn-login">Login</button>
                <div class="btn-check">
                    <i class="far fa-heart"></i>
                    <span class="count">0</span>
                </div>
                <div class="btn-check">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="count">0</span>
                </div>
            </div>
        </div>
    </div>

</body>

</html>