<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/829cb68a23.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./navbar.css">
    <title>Navbar</title>
</head>
<body>
    <nav>
        <div class="title-and-search">
            <h2 class="title">My Website</h2>
            <div class="search">
                <span class="btn-search"><i class="fas fa-search"></i></span>
                <input type="text" placeholder="Search" class="input-search">
            </div>
        </div>
        <div class="user-controls">
            <button class="btn-login">Login</button>
            <div class="btn-check">
                <i class="far fa-heart"></i>
                <span class="count">0</span>
            </div>
            <div class="cart">
                <div class="btn-check">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="count">0</span>
                </div>
                <p class="cart-name">Cart</p>
            </div>
        </div>
    </nav>
</body>
</html>