<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../highlight/styles/atom-one-dark-reasonable.min.css">
    <script defer src="https://kit.fontawesome.com/829cb68a23.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="../../assets/favicon-32x32.webp" />
    <link rel="stylesheet" href="./navbar.css">
    <title>Navbar</title>
</head>

<body>

    <div class="background-container">
    </div>

    <nav class="header">
        <a href="../../index.html" class="title">
            <h2>CheckMate UI</h2>
        </a>
        <button class="menu-open"><i class="fas fa-bars"></i></button>
    </nav>

    <main>

        <aside>
            <ul class="menu-items">
                <li class="link"><a href="../get-started.html">Getting Started</a></li>
                <li class="link"><a href="../Avatar/avatar.html">Avatar</a></li>
                <li class="link"><a href="../Badge/badge.html">Badge</a></li>
                <li class="link"><a href="../Alert/alert.html">Alert</a></li>
                <li class="link"><a href="../Button/button.html">Button</a></li>
                <li class="link"><a href="../Card/card.html">Card</a></li>
                <li class="link"><a href="../Image/image.html">Image</a></li>
                <li class="link"><a href="../Input/input.html">Input</a></li>
                <li class="link"><a href="../List/list.html">List</a></li>
                <li class="link"><a href="../Navbar/navbar.html">Navbar</a></li>
                <li class="link"><a href="../Typography/typography.html">Typography</a></li>
                <li class="link"><a href="../Form/form.html">Form</a></li>
                <li class="link"><a href="../Slider/slider.html">Slider</a></li>
                <li class="link"><a href="../Modal/modal.html">Modal</a></li>
                <li class="link"><a href="../Grid/grid.html">Grid</a></li>
                <li class="link"><a href="../Rating/rating.html">Rating</a></li>
                <li class="link"><a href="../Toast/toast.html">Toast</a></li>
                <li class="link"><a href="../Hamburger/hamburger.html">Hamburger</a></li>
            </ul>
        </aside>

        <section class="main-section">

            <section>
                <h2 class="page-title">Navigation bar</h2>
                <p class="section-para">
                    Navigation bar is generally placed at the top of the website which contains routes to different sections of a website or some most used functionalities in a website.
                </p>
            </section>
    
            <section>
                <h2 class="section-heading">E-commerce Navbar</h2>
                <p class="section-para">
                    E-commerce Navbar containing the name of the website with the search functionality, login button and wishlist and cart button.
                </p>
                <div class="nav-header">
                    <div class="title">
                        <i class="fas fa-bars menu-bar"></i>
                        <h2 class="nav-title">My Website</h2>
                    </div>
                    <div class="search">
                        <span class="btn-search"><i class="fas fa-search"></i></span>
                        <input type="text" placeholder="Type to Search" class="input-search">
                    </div>
                    <div class="user-controls">
                        <button class="btn-login">Login</button>
                        <div class="btn-check">
                            <i class="far fa-heart"></i>
                            <span class="count">0</span>
                        </div>
                        <div class="btn-check">
                            <i class="fas fa-shopping-cart"></i>
                            <span class="count">0</span>
                        </div>
                    </div>
                </div>
                <div class="code-wrapper">
                    <pre class="code-embed">
                        <code class="code tag">
&lt;div class=&quot;nav-header&quot;&gt;
    &lt;div class=&quot;title-and-search&quot;&gt;
        &lt;h2 class=&quot;title&quot;&gt;My Website&lt;/h2&gt;
        &lt;div class=&quot;search&quot;&gt;
            &lt;span class=&quot;btn-search&quot;&gt;&lt;i class=&quot;fas fa-search&quot;&gt;&lt;/i&gt;&lt;/span&gt;
            &lt;input type=&quot;text&quot; placeholder=&quot;Search&quot; class=&quot;input-search&quot;&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;user-controls&quot;&gt;
        &lt;button class=&quot;btn-login&quot;&gt;Login&lt;/button&gt;
        &lt;div class=&quot;btn-check&quot;&gt;
            &lt;i class=&quot;far fa-heart&quot;&gt;&lt;/i&gt;
            &lt;span class=&quot;count&quot;&gt;0&lt;/span&gt;
        &lt;/div&gt;
        &lt;div class=&quot;cart&quot;&gt;
            &lt;div class=&quot;btn-check&quot;&gt;
                &lt;i class=&quot;fas fa-shopping-cart&quot;&gt;&lt;/i&gt;
                &lt;span class=&quot;count&quot;&gt;0&lt;/span&gt;
            &lt;/div&gt;
            &lt;p class=&quot;cart-name&quot;&gt;Cart&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                        </code>
                    </pre>
                </div>
            </section>

        </section>

    </main>

    <footer class="footer">

        <div class="footer-container">
            <p class="footer-title">Made by Atul Pant</p>
            <div class="social-media">
                <a href="https://github.com/AtulPant2704" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://linkedin.com/in/atulpant27" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://twitter.com/AtulPant2704" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
            <p class="footer-end">© 2022 CheckMate Designs</p>
        </div>

    </footer>

    <script src="../../highlight/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="../../js/header.js"></script>
</body>

</html>