@import url("../get-started.css");
@import url("../Button/button.css");

.toast-btn {
  margin: 1rem 0;
}

.toast {
  display: none;
}

.show-toast {
  display: block;
  position: absolute;
  right: 0%;
  bottom: 1%;
  width: fit-content;
  background-color: var(--secondary-color);
  color: white;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.toast button {
  border: none;
  color: var(--secondary-color);
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.toast .toast-cancel {
  background-color: var(--danger-color);
  color: white;
}
