@import url("../css/reset.css");
@import url("../css/utility.css");
@import url("../css/header.css");
@import url("../css/documentation.css");

.iframe-wrapper {
    margin-top: 1.5rem;
}

.iframe-sm {
    height: 20vh;
}

.iframe-lg {
    height: 70vh;
}