<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/829cb68a23.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="./images/favicon-32x32.png" />
    <link rel="stylesheet" href="./get-started.css">
    <title>Getting Started</title>
</head>

<body>
    <main>

        <nav class="header">
            <a href="../index.html" class="title">
                <h2>CheckMate UI</h2>
            </a>
            <button class="menu-bar"><i class="fas fa-bars"></i></button>
        </nav>

        <section>
            <h2 class="section-heading">Introduction to CheckMate</h2>
            <p class="section-para">CheckMate is an open source component library which helps developers build their projects, faster and in an elegant way. It allows developers to add classes to their html elements and do not care of any styling.</p>
        </section>

        <section>
            <h2 class="section-heading">Installation Guide</h2>
            <p class="section-para">In order to use CheckMate UI, just copy paste the below link in the head tag of your html document, above all other stylesheets.</p>
            <div class="code-snippet">
                <iframe src="https://www.thiscodeworks.com/embed/61fa4ba7b783be0015bbae73" style="width: 100%; height: 99px;" frameborder="0"></iframe>
            </div>
        </section>

        <section>
            <h2 class="section-heading">Starter template</h2>
            <p class="section-para">Set up your page with latest designs and development standards, which means tp use HTML5 doctype and a viewport meta tag so that responsive behaviour of the components can be maintained.</p>
            <div class="code-snippet">
                <iframe src="https://www.thiscodeworks.com/embed/61fa53ccb783be0015bbae7c" style="width: 100%; height: 335px;" frameborder="0"></iframe>
            </div>
        </section>

    </main>
</body>

</html>