@import url("../css/reset.css");
@import url("../css/utility.css");
@import url("../css/header.css");

main {
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 5rem;
}

/* Section Styling Starts */

section {
    padding: 2rem 1rem;
    border-bottom: 1px solid #d7d7d7;
}

.section-heading {
    font-size: 1.7rem;
    padding: 0.5rem 0;
    color: var(--secondary-color);
}

.section-para {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: var(--default-color);
}

.code-snippet {
    padding: 1rem 0;
    width: 60%;
}

/* Section Styling Ends */


/* Responsive Styling Starts */

@media only screen and (max-width: 1200px) {
    .code-snippet {
        width: 70%;
    }
}

@media only screen and (max-width: 1000px) {
    .code-snippet {
        width: 80%;
    }
}

@media only screen and (max-width: 850px) {
    main {
        width: 80vw;
    }

    .code-snippet {
        width: 90%;
    }
}

@media only screen and (max-width: 700px) {
    main {
        width: 90vw;
    }

    .code-snippet {
        width: 100%;
    }
}

/* Responsive Styling Starts */