<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://kit.fontawesome.com/829cb68a23.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="../../assets/favicon-32x32.webp" />
    <link rel="stylesheet" href="./list.css">
    <title>List</title>
</head>

<body>

    <div class="background-container">
    </div>

    <nav class="header">
        <a href="../../index.html" class="title">
            <h2>CheckMate UI</h2>
        </a>
        <button class="menu-open"><i class="fas fa-bars"></i></button>
    </nav>

    <main>

        <aside>
            <ul class="menu-items">
                <li class="link"><a href="../get-started.html">Getting Started</a></li>
                <li class="link"><a href="../Avatar/avatar.html">Avatar</a></li>
                <li class="link"><a href="../Badge/badge.html">Badge</a></li>
                <li class="link"><a href="../Alert/alert.html">Alert</a></li>
                <li class="link"><a href="../Button/button.html">Button</a></li>
                <li class="link"><a href="../Card/card.html">Card</a></li>
                <li class="link"><a href="../Image/image.html">Image</a></li>
                <li class="link"><a href="../Input/input.html">Input</a></li>
                <li class="link"><a href="../List/list.html">List</a></li>
                <li class="link"><a href="../Navbar/navbar.html">Navbar</a></li>
                <li class="link"><a href="../Typography/typography.html">Typography</a></li>
                <li class="link"><a href="../Form/form.html">Form</a></li>
                <li class="link"><a href="../Slider/slider.html">Slider</a></li>
                <li class="link"><a href="../Modal/modal.html">Modal</a></li>
                <li class="link"><a href="../Grid/grid.html">Grid</a></li>
            </ul>
        </aside>

        <section class="main-section">

            <section>
                <h2 class="page-title">List</h2>
                <p class="section-para">
                    List is used in a website on navigation bar, stacked notifications, article pages, etc to show multiple
                    lines of same information in an organised way.
                </p>
            </section>
    
            <section>
                <h2 class="section-heading">Spaced List</h2>
                <p class="section-para">
                    Spaced List are the simple list contained inside a heading and contains different categories of that heading.
                </p>
                <ul class="list list-spaced">
                    <div class="list-title">Categories</div>
                    <li>Earphones</li>
                    <li>Laptop</li>
                    <li>Smartphones</li>
                    <li>Watches</li>
                </ul>
                <div class="iframe-wrapper iframe-md">
                    <iframe class="iframe-code"
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cul%2520class%253D%2522list%2520list-spaced%2522%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522list-title%2522%253ECategories%253C%252Fdiv%253E%250A%2520%2520%2520%2520%253Cli%253EEarphones%253C%252Fli%253E%250A%2520%2520%2520%2520%253Cli%253ELaptop%253C%252Fli%253E%250A%2520%2520%2520%2520%253Cli%253ESmartphones%253C%252Fli%253E%250A%2520%2520%2520%2520%253Cli%253EWatches%253C%252Fli%253E%250A%253C%252Ful%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </section>
    
            <section>
                <h2 class="section-heading">Stacked List</h2>
                <p class="section-para">
                    Stacked List are mostly used to show notifications in multiple lines.
                </p>
                <ul class="list list-stacked">
                    <li>Notification 1</li>
                    <li>Notification 2</li>
                    <li>Notification 3</li>
                    <li>Notification 4</li>
                </ul>
                <div class="iframe-wrapper iframe-md">
                    <iframe class="iframe-code"
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cul%2520class%253D%2522list%2520list-stacked%2522%253E%250A%2520%2520%2520%2520%253Cli%253ENotification%25201%253C%252Fli%253E%250A%2520%2520%2520%2520%253Cli%253ENotification%25202%253C%252Fli%253E%250A%2520%2520%2520%2520%253Cli%253ENotification%25203%253C%252Fli%253E%250A%2520%2520%2520%2520%253Cli%253ENotification%25204%253C%252Fli%253E%250A%253C%252Ful%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </section>

        </section>

    </main>

    <footer class="footer">

        <div class="footer-container">
            <p class="footer-title">Made by Atul Pant</p>
            <div class="social-media">
                <a href="https://github.com/AtulPant2704" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://linkedin.com/in/atulpant27" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://twitter.com/AtulPant2704" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
            <p class="footer-end">© 2022 CheckMate Designs</p>
        </div>

    </footer>

    <script src="../../js/header.js"></script>
</body>

</html>