@import url("../Navbar/navbar.css");

/* Display Container Styling  */
.display-container {
  position: relative;
  border: 1px solid var(--secondary-color);
}

.display-container .menu-bar,
.menu-bar-close {
  cursor: pointer;
}

.nav-header {
  margin-top: 0;
}

/* Hamburger Menu Styling  */
.hamburger-menu {
  position: absolute;
  width: 15rem;
  height: 100%;
  top: 0;
  background-color: white;
  right: 100%;
  transition: transform 1s ease;
  z-index: 2;
}

.hamburger-menu-open {
  transform: translateX(100%);
}

.hamburger-menu .profile-header {
  padding: 1.5rem;
  background-color: var(--secondary-color);
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

.display-container .content {
  padding-left: 2rem;
}

.hamburger-menu .page-routes {
  padding: 0.5rem 0 0 1.5rem;
}

.hamburger-menu .page-routes li {
  padding: 0.5rem 0;
  font-size: 1.2rem;
}

.hamburger-menu .page-routes a {
  color: var(--secondary-color);
}
