<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/829cb68a23.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./badge.css">
    <title>Document</title>
</head>

<body>
    <h2>Badges on Avatars</h2>
    <div class="badges-avatar">
        <div class="avatar-badge badge-off">
            <img src="../images/avatar-1.jpg" alt="avatar-image" class="round-img">
            <span class="round-badge badge-red"></span>
        </div>
        <div class="avatar-badge badge-on">
            <img src="../images/avatar-2.jpg" alt="avatar-image" class="round-img">
            <span class="round-badge badge-green"></span>
        </div>
        <div class="avatar-badge badge-away">
            <img src="../images/avatar-1.jpg" alt="avatar-image" class="round-img">
            <span class="round-badge badge-away"></span>
        </div>
    </div>
    <h2>Badges on Icons</h2>
    <div class="badges-icon">
        <div class="icon-badge cart-badge">
            <i class="fas fa-shopping-cart"></i>
            <span class="badge-count">5</span>
        </div>
        <div class="icon-badge mail-badge">
            <i class="fas fa-envelope"></i>
            <span class="badge-count">5</span>
        </div>
    </div>
    <div class="badges-icon"></div>
</body>

</html>