<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/829cb68a23.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="../images/favicon-32x32.png" />
    <link rel="stylesheet" href="./badge.css">
    <title>Badge</title>
</head>

<body>

    <main>

        <nav class="header">
            <a href="../../index.html" class="title">
                <h2>CheckMate UI</h2>
            </a>
            <button class="menu-bar"><i class="fas fa-bars"></i></button>
        </nav>

        <section>
            <h2 class="page-title">Badge</h2>
            <p class="section-para">Badge is present at top-right or bottom right of a container. It usually displays numbers or online / offline status depending on where they are used.</p>
        </section>

        <section>
            <h2 class="section-heading">Badges on Avatars</h2>
            <p class="section-para">Badges are used on Avatars to display the online, offline or away status of the user.</p>
            <div class="badges badges-avatar">
                <div class="avatar-badge badge-off">
                    <img src="../images/avatar-1.jpg" alt="avatar-image" class="round-img">
                    <span class="round-badge badge-red"></span>
                </div>
                <div class="avatar-badge badge-on">
                    <img src="../images/avatar-2.jpg" alt="avatar-image" class="round-img">
                    <span class="round-badge badge-green"></span>
                </div>
                <div class="avatar-badge badge-away">
                    <img src="../images/avatar-1.jpg" alt="avatar-image" class="round-img">
                    <span class="round-badge badge-away"></span>
                </div>
            </div>
            <div class="code-snippet">
                <iframe src="https://www.thiscodeworks.com/embed/61fa94b7b783be0015bbaed2" style="width: 100%; height: 242px;" frameborder="0"></iframe>
            </div>
        </section>

        <section>
            <h2 class="section-heading">Badges on Icons</h2>
            <p class="section-para">Badges are used on Icons to display the count of that specific property of an icon.</p>
            <div class="badges badges-icon">
                <div class="icon-badge cart-badge">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="badge-count">5</span>
                </div>
                <div class="icon-badge mail-badge">
                    <i class="fas fa-envelope"></i>
                    <span class="badge-count">5</span>
                </div>
            </div>
            <div class="code-snippet">
                <iframe src="https://www.thiscodeworks.com/embed/61fa94fbb783be0015bbaed5" style="width: 100%; height: 190px;" frameborder="0"></iframe>
            </div>
        </section>

    </main>
    
</body>

</html>