/* Badges on Avatar Styles Starts */
@import url("../get-started.css");

.badges {
    margin: 1.5rem 0;
}

/* Badges on Avatar Styles Starts */

.badges-avatar {
    display: flex;
    gap: 2rem;
}

.avatar-badge {
    border-radius: 50%;
    position: relative;
}

.avatar-badge img {
    border-radius: 50%;
    object-fit: cover;
    height: 5rem;
    width: 5rem;
}

.round-badge {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    position: absolute;
    bottom: 10%;
    right: 10%;
    border: 1px solid white;
}

.badge-off .round-badge {
    background-color: var(--danger-color);
}

.badge-on .round-badge {
    background-color: var(--success-color);
}

.badge-away .round-badge {
    background-color: var(--warning-color);
}

/* Badges on Avatar Styles Ends */

/* Badges on Icon Styles Starts */

.badges-icon {
    display: flex;
    gap: 2rem;
}

.icon-badge {
    position: relative;
}

.icon-badge i {
    font-size: 2rem;
}

.badge-count {
    font-size: 1rem;
    background-color: var(--danger-color);
    color: white;
    border-radius: 50%;
    position: absolute;
    top: -25%;
    right: -25%;
    height: 1.2rem;
    width: 1.2rem;
    text-align: center;
}

/* Badges on Icon Styles Ends */