<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../highlight/styles/atom-one-dark-reasonable.min.css">
    <script defer src="https://kit.fontawesome.com/829cb68a23.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="../../assets/favicon-32x32.webp" />
    <link rel="stylesheet" href="./modal.css">
    <title>Modal</title>
</head>

<body>

    <div class="background-container">
    </div>

    <nav class="header">
        <a href="../../index.html" class="title">
            <h2>CheckMate UI</h2>
        </a>
        <button class="menu-open"><i class="fas fa-bars"></i></button>
    </nav>

    <main>

        <aside>
            <ul class="menu-items">
                <li class="link"><a href="../get-started.html">Getting Started</a></li>
                <li class="link"><a href="../Avatar/avatar.html">Avatar</a></li>
                <li class="link"><a href="../Badge/badge.html">Badge</a></li>
                <li class="link"><a href="../Alert/alert.html">Alert</a></li>
                <li class="link"><a href="../Button/button.html">Button</a></li>
                <li class="link"><a href="../Card/card.html">Card</a></li>
                <li class="link"><a href="../Image/image.html">Image</a></li>
                <li class="link"><a href="../Input/input.html">Input</a></li>
                <li class="link"><a href="../List/list.html">List</a></li>
                <li class="link"><a href="../Navbar/navbar.html">Navbar</a></li>
                <li class="link"><a href="../Typography/typography.html">Typography</a></li>
                <li class="link"><a href="../Form/form.html">Form</a></li>
                <li class="link"><a href="../Slider/slider.html">Slider</a></li>
                <li class="link"><a href="../Modal/modal.html">Modal</a></li>
                <li class="link"><a href="../Grid/grid.html">Grid</a></li>
                <li class="link"><a href="../Rating/rating.html">Rating</a></li>
                <li class="link"><a href="../Toast/toast.html">Toast</a></li>
                <li class="link"><a href="../Hamburger/hamburger.html">Hamburger</a></li>
            </ul>
        </aside>

        <section class="main-section">

            <section>
                <h2 class="page-title">Modal</h2>
                <p class="section-para">
                    Modal is a popup that is displayed on a screen over entire web page to display important piece of information or to ask for a certain piece of action from a user.
                </p>
            </section>

            <section>
                <h2 class="section-heading">Basic Modal</h2>
                <p class="section-para">
                    This is a simple modal displaying heading and sub-heading and ask among two choices from a user.
                </p>
                <div class="modal-container">
                    <h3 class="modal-heading">Modal Heading</h3>
                    <p class="modal-subheading">Modal subheading displaying certain piece of information.</p>
                    <div class="modal-btns">
                        <button class="btn btn-solid-primary">Action 1</button>
                        <button class="btn btn-outline-primary">Action 2</button>
                    </div>
                </div>
                <div class="code-wrapper">
                    <pre class="code-embed">
                        <code class="code tag">
&lt;div class=&quot;modal-container&quot;&gt;
    &lt;h3 class=&quot;modal-heading&quot;&gt;Modal Heading&lt;/h3&gt;
    &lt;p class=&quot;modal-subheading&quot;&gt;Modal subheading displaying certain piece of information.&lt;/p&gt;
    &lt;div class=&quot;modal-btns&quot;&gt;
        &lt;button class=&quot;btn btn-solid-primary&quot;&gt;Action 1&lt;/button&gt;
        &lt;button class=&quot;btn btn-outline-primary&quot;&gt;Action 2&lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;
                        </code>
                    </pre>
                </div>
            </section>

        </section>

    </main>

    <footer class="footer">

        <div class="footer-container">
            <p class="footer-title">Made by Atul Pant</p>
            <div class="social-media">
                <a href="https://github.com/AtulPant2704" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://linkedin.com/in/atulpant27" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://twitter.com/AtulPant2704" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
            <p class="footer-end">© 2022 CheckMate Designs</p>
        </div>

    </footer>

    <script src="../../highlight/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="../../js/header.js"></script>
    
</body>

</html>