<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/829cb68a23.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./alert.css">
    <title>Alert</title>
</head>

<body>
    <div class="alert alert-info">
        <span><i class="fas fa-info-circle"></i></span>
        A info alert example!!!!
    </div>

    <div class="alert alert-success">
        <span><i class="fas fa-check-circle"></i></span>
        A success alert example!!!!
    </div>

    <div class="alert alert-danger">
        <span><i class="fas fa-exclamation-triangle"></i></span>
        A danger alert example!!!!
    </div>

    <div class="alert alert-warning">
        <span><i class="fas fa-exclamation-triangle"></i></span>
        A warning alert example!!!!
    </div>
</body>

</html>